@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.body {
  font-family: 'Montserrat', sans-serif;
  padding: 67px 56px 267px 57px;
}

.container {
  margin-top: 67px;
  margin-bottom: 87px;
  margin-left: 57px;
  display: flex;
}

.aside {
  background-color: #1A142D;
  width: 340px;
  box-sizing: border-box;
  padding: 18px;

}

.avatar {
  width: 300px;
  height: 430px;
  border: 1px solid white;
  box-sizing: border-box;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: white;
  text-align: center;
  margin: 38px 22px 22px;
}

.birth {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

}

.social_media {
  margin-right: 8px;
}

.padding {
  padding: 20px 10px;
  text-align: center;
}

.social_media:hover {
  position: relative;
  bottom: 5px;
  transition: bottom 1s;
}

a {
  color: white;
  text-decoration: none;
}


.text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  width: 567px;
  height: 230px;
  margin-top: 1px;
}

.block {
  padding: 0px 57px;
  position: absolute;
  width: 467px;
  height: 299px;
  left: 434px;
  top: 51px;

}


.education {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-right: 57px;
  box-sizing: border-box;
}

.ul {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;

  padding: 0;
  margin-right: 57px;
  margin-left: 23px;
  box-sizing: border-box;

}

.gallery {
  position:absolute;
  left: 1120px;
  flex-direction: column;

}

.gallery_item {
  position: relative;
  width: 206px;
  height: 207px;

}

.gallery_label {
  position: absolute;
  display: flex;
  color: white;
  background-color: #1A142D;
  font-size: 12px;
  padding-top: 0;
  top: 181px;
  box-sizing: border-box;
  margin-top: 1px;
  display: none;
  padding: 5px;
 text-align: center;
  width: 100%;
}

.gallery_item:hover .gallery_label {
  display: block;
}

a:link {
  color: #497DDD; 
  border-bottom: 1px dashed; 
}

a:visited {
  color: #EF7D55;
}

.red {
  color: red;
}
